.button {
    background-color: rgb(var(--color-contrast));
    color: rgb(var(--color-background));
    padding: var(--padding) calc(var(--padding) * 2);
}

/* -- Media Queries -- */

@media (pointer: fine) {
    .button {
        cursor: pointer;
    }
}

@media (hover: hover) {
    .button:hover {
        background-color: rgba(var(--color-contrast),.11);
        color: rgb(var(--color-contrast));
    }
}