html,
body {
	height: 100%;
	margin: 0;
	background-color: blue;
	display: grid;
	align-content: center;
	justify-content: center;
	user-select: none;
	overflow: hidden;
}

img {
	position: relative;
	z-index: 1;
	width: clamp(20px, 50vh, 80vw);
	image-rendering: pixelated;
	pointer-events: none;
}

section {
	position: fixed;
	inset: 0;
	width: 100%;
	height: 100%;
}

section p {
	margin: 0;
	display: flex;
	justify-content: space-between;
}

section p span {
	font-size: clamp(10px, 4vh, 10vw);
	font-family: monospace;
	font-weight: bold;
	color: rgba(0, 0, 0, .15);
}